
$color-white: #FFFFFF;
$color-black: #161616;
$color-blue: #3352F0;
$color-beige: #FDF6EC;

// Element Styles
h2 { font-size: 44px; }
h3 { font-size: 26.47px; }

// Utility Classes
.text-black { color: $color-black !important; }
.bg-black { background-color: $color-black !important; }
.text-white { color: $color-white !important; }
.bg-white { background-color: $color-white !important; }
.text-beige { color: $color-beige !important; }
.bg-beige { background-color: $color-beige !important; }
.text-blue { color: $color-blue !important; }
.bg-blue { background-color: $color-blue !important; }

.w-fit-content { width: fit-content; }
.w-fit-content { width: fit-content; }

// NavBar
.navbar {
    padding-top: 40px;
    padding-bottom: 40px;
    .navbar-brand {
        width: 211px;
        text-align: center;
    }
    .navbar-nav {
        align-items: center;
    }
    @media only screen and (max-width: 991px)  {
        .navbar-collapse {
            margin-top: 20px;
        }
        .nav-item {
            width: 100%;
            > .btn-nav {
                border-radius: 0px;
                margin: 0px;
                border-top: 1px $color-black solid;
            }
            > .btn-white {
                border-top: 1px grey solid;
            }
        }
    }
}

// Body
body{ 
    min-height: 100vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

// Footer - using CSS Grid
footer {

    clear: both;
    position: relative;
    height: fit-content;
    margin-top: -200px;

    // display: inline-grid;
    font-size: 14.41px;
    .contact-info { 
        font-size: 14.41px;
        .pages {
            flex-direction: column;
            a { display: flex; }
        }
    }
    padding-left: 20px;
    padding-right: 20px;
    @media only screen and (max-width: 991px)  {
        display: grid;
        grid-template-columns: 1fr;
        .contact-info { 
            font-size: 14.41px;
            .pages {
                flex-direction: column;
                a { display: flex; }
            }
        }
    }
    @media only screen and (min-width: 992px)  {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        .logo {
            justify-content: center;
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;
            padding-bottom: 1rem !important;
        }
        .contact-info {
            padding-left: 40px;
            padding-right: 40px;
            .pages {
                flex-direction: row;
                a { display: inline-flex; }
            }
            .contact {
                display: inline-flex;
                > div {
                    width: 33.3%;
                }
                .social {
                    margin-bottom: 1px;
                }
            }
        }
        .policies {
            padding-bottom: 13px;
            p { text-wrap: nowrap; }
        }
    }
}

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );
  
//Component Cards
.program-card {
    .image-row {
        aspect-ratio: 2 / 1;
        img { 
            max-height: 100%; 
            aspect-ratio: 2 / 1;
        }
    }
    .text-row {
        img { margin-right: 15px; }
        h3 {
            font-size: 26.47px;
            vertical-align: middle;
            display: initial;
        }
        .program-time { font-size: 14.18px;}
        p { 
            font-size: 14.41px; 
            overflow: scroll;
        }
        .btn-blue { margin-right: 20px; }
    }
}

.fellow-card {
    .image-row { 
        // overflow: "hidden";
        aspect-ratio: 1 /1; 
        img {
            aspect-ratio: 1 /1; 
        }
    }
    .text-row {
        span {
            min-width: 23px;
            margin-top: -3px;
            img { margin-right: 15px; }
        }
        h4 {
            font-size: 18;
            vertical-align: middle;
            display: initial;
        }
        blockquote.text-blue { font-size: 14.65px; }
        p.text-black { font-size: 14.53px; }
    }
}

  .image-right {
    aspect-ratio: 1;
  }

//Button Classes
.btn-rounded {
    border: none;
    border-radius: 40px;
}

.btn-large {
    padding: 9px 24px;
    font-size: 17.44px;
}

.btn-nav {
    text-wrap: nowrap;
    margin-left: 20px;
    padding: 14px 20px !important;
    font-size: 14.41px !important;
}

.btn-white {
    color: $color-black !important;
    background-color: $color-white;
    &:active {
        background-color: $color-black !important;
        color: $color-white !important;
    }
}

.btn-blue {
    background-color: $color-blue !important;
    color: $color-white !important;
    &:active {
        background-color: $color-white !important;
        color: $color-blue !important;
    }
}
.btn-beige {
    background-color: $color-beige !important;
    color: $color-black !important;
    &:active {
        background-color: $color-beige !important;
        color: $color-black !important;
    }
    border: 1px solid $color-black;
}